<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--BEGIN SERVLETS -->
    <servlet>
        <servlet-name>facesServlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>facesServlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <!--END SERVLETS -->

    <!--BEGIN LOGIN AND SECURITY-->
    <security-role>
        <role-name>Customer</role-name>
    </security-role>
    <security-role>
        <role-name>PartnerAdmin</role-name>
    </security-role>
    <security-role>
        <role-name>RDTravelAdmin</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Customer</web-resource-name>
            <url-pattern>/customer/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Customer</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/admin/flights/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>PartnerAdmin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>RDTravelAdmin</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/security/forwardlogin.xhtml</form-login-page>
            <form-error-page>/security/forwardlogin.xhtml</form-error-page>
        </form-login-config>
    </login-config>

    <!--END LOGIN AND SECURITY-->
</web-app>